@use "../../../../style-values";

.game-tile {
  height: style-values.$tile-scale * 0.8;
  width: style-values.$tile-scale * 0.8;
  position: relative;
  margin: 0.1em;

  &__disabled {
    pointer-events: none;
  }

  .tile-slide {
    z-index: 1;
    filter: blur(2px);
  }

  .tile-overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;

    background-color: #ddd;
    border: 1px solid #5373dd;
    border-radius: 0.25em;

    font-size: style-values.$tile-scale * 0.6;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: margin-left 500ms, margin-top 500ms;
    &__disabled {
      filter: blur(2px) grayscale(50%) brightness(0.7);
    }
    &__slide-down {
      margin-top: style-values.$tile-scale;
      @extend .tile-slide;
    }
    &__slide-up {
      margin-top: -(style-values.$tile-scale);
      @extend .tile-slide;
    }
    &__slide-right {
      margin-left: style-values.$tile-scale;
      @extend .tile-slide;
    }
    &__slide-left {
      margin-left: -(style-values.$tile-scale);
      @extend .tile-slide;
    }
    &__reset-slide {
      transition: transform 1s, font-size 1s, opacity 1s;
      margin-left: 0;
      margin-top: 0;
    }
    &__new-tile {
      animation: new-tile 500ms;
    }
    &__new-tile-delay-1 {
      animation-delay: 50ms;
    }
    &__new-tile-delay-2 {
      animation-delay: 250ms;
    }
    &__new-tile-delay-3 {
      animation-delay: 350ms;
    }
    &__new-tile-delay-4 {
      animation-delay: 550ms;
    }
    &__new-tile-delay-5 {
      animation-delay: 550ms;
    }
    &__to-remove {
      border-radius: 3em;
      animation: wobble 500ms infinite;
    }
    &__remove {
      animation: remove 1s;
    }
    &__shutter {
      animation: shutter 250ms 2;
    }
    &__hint {
      animation: hint 500ms;
    }
  }

  @keyframes new-tile {
    0% {
      font-size: 0;
      opacity: 0;
    }
    50% {
      font-size: style-values.$tile-scale;
    }
    100% {
      font-size: style-values.$tile-scale * 0.6;
      opacity: 1;
    }
  }

  @keyframes remove {
    0% {
      font-size: style-values.$tile-scale * 1.01;
    }
    50% {
      transform: rotate(-365deg);
      font-size: style-values.$tile-scale * 0.5;
      opacity: 0;
    }
  }

  @keyframes wobble {
    0% {
      transform: rotate(45deg);
      font-size: style-values.$tile-scale * 1.01;
    }
    50% {
      transform: rotate(-45deg);
      font-size: style-values.$tile-scale;
      border-radius: 1em;
    }
  }

  @keyframes shutter {
    0% {
      margin-left: 0.5em;
      transform: skewX(5deg, 5deg);
    }
    50% {
      margin-left: -0.5em;
      transform: skew(-5deg, -5deg);
    }
  }

  @keyframes hint {
    0% {
      border: 0.5em dotted green;
      font-size: style-values.$tile-scale * 2;
    }
    100% {
      font-size: style-values.$tile-scale * 0.5;
      opacity: 0;
    }
  }
}

@media screen and (min-width: style-values.$default-app-width) {
  .game-tile {
    height: style-values.$tile-scale * 1.2;
    width: style-values.$tile-scale * 1.2;

    .tile-overlay {
      font-size: style-values.$tile-scale;
    }
  }
}
