@import "/src/include-media";

$tile-scale: 1.5em;
$tile-scale-mobile: 1.75em;

$animation-scale: 3.3em;
$animation-scale-mobile: 3.3em;

.game-tile {
  user-select: none;
  position: relative;
  height: $tile-scale;
  width: $tile-scale;
  font-size: 4em;
  background-color: lightgray;
  border-radius: 0.25em;
  margin: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 500ms;
  &__disabled {
    filter: grayscale(50%);
    pointer-events: none;
  }

  .tile-overlay {
    position: absolute;
    transition: transform 1s, font-size 1s, opacity 1s, margin-left 500ms,
      margin-top 500ms;
    &__slide-down {
      margin-top: $animation-scale;
      z-index: 1;
      filter: blur(2px);
    }
    &__slide-up {
      margin-top: -$animation-scale;
      z-index: 1;
      filter: blur(2px);
    }
    &__slide-right {
      margin-left: $animation-scale;
      z-index: 1;
      filter: blur(2px);
    }
    &__slide-left {
      margin-left: -$animation-scale;
      z-index: 1;
      filter: blur(2px);
    }
    &__reset-slide {
      transition: transform 1s, font-size 1s, opacity 1s;
      margin-left: 0;
      margin-top: 0;
    }
    &__to-remove {
      animation: wobble 1s infinite;
    }
    &__remove {
      transform: rotate(-365deg);
      font-size: 0;
      opacity: 0;
    }
    &__shutter {
      animation: shutter 250ms 2;
    }
    &__hint {
      animation: hint 500ms;
    }
  }

  @keyframes wobble {
    0% {
      transform: rotate(10deg);
      font-size: 90%;
    }
    50% {
      transform: rotate(-10deg);
      font-size: 120%;
    }
  }

  @keyframes shutter {
    0% {
      margin-left: 0.5em;
      transform: skewX(5deg, 5deg);
    }
    50% {
      margin-left: -0.5em;
      transform: skew(-5deg, -5deg);
    }
  }

  @keyframes hint {
    100% {
      font-size: 500%;
      opacity: 0;
    }
  }
}

@include media("<tablet") {
  .game-tile {
    height: $tile-scale-mobile;
    width: $tile-scale-mobile;
    margin: 0.05em;
    font-size: 3.05em;
  }
}
