@import "/src/include-media";

$tile-scale: 8em;
$tile-scale-mobile: 6em;

$animation-scale: 3.3em;

.game-tile {
  width: $tile-scale;
  height: $tile-scale;
  position: relative;

  &__disabled {
    pointer-events: none;
  }

  .tile-slide {
    z-index: 1;
    filter: blur(2px);
  }

  .tile-overlay {
    position: absolute;

    width: 90%;
    height: 90%;
    top: 0;
    left: 0;

    font-size: 4.5em;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.1em;
    background-color: #dddddd;

    transition: margin-left 500ms, margin-top 500ms;
    &__disabled {
      filter: blur(2px) grayscale(50%) brightness(0.7);
    }
    &__slide-down {
      margin-top: $animation-scale;
      @extend .tile-slide;
    }
    &__slide-up {
      margin-top: -$animation-scale;
      @extend .tile-slide;
    }
    &__slide-right {
      margin-left: $animation-scale;
      @extend .tile-slide;
    }
    &__slide-left {
      margin-left: -$animation-scale;
      @extend .tile-slide;
    }
    &__reset-slide {
      transition: transform 1s, font-size 1s, opacity 1s;
      margin-left: 0;
      margin-top: 0;
    }
    &__to-remove {
      border-radius: 3em;
      animation: wobble 500ms infinite;
    }
    &__remove {
      animation: remove 1s;
    }
    &__shutter {
      animation: shutter 250ms 2;
    }
    &__hint {
      animation: hint 500ms;
    }
  }

  @keyframes remove {
    0% {
      font-size: 250%;
    }
    50% {
      transform: rotate(-365deg);
      font-size: 90%;
      opacity: 0;
    }
  }

  @keyframes wobble {
    0% {
      transform: rotate(10deg);
      font-size: 400%;
    }
    50% {
      transform: rotate(-10deg);
      font-size: 450%;
      border-radius: 2em;
    }
  }

  @keyframes shutter {
    0% {
      margin-left: 0.5em;
      transform: skewX(5deg, 5deg);
    }
    50% {
      margin-left: -0.5em;
      transform: skew(-5deg, -5deg);
    }
  }

  @keyframes hint {
    100% {
      font-size: 500%;
      opacity: 0;
    }
  }
}

@include media("<tablet") {
  .game-tile {
    height: $tile-scale-mobile;
    width: $tile-scale-mobile;

    .tile-overlay {
      font-size: 3.35em;
    }
  }
}
