<div class="content">
  <h2>Welcome to Emoji Swap!</h2>
  <p>This is a game that is very similar to other tile matching games like Bejeweled and Candy Crash.</p>
  <p>
    To play: Drag tiles up, down, right or left to match
    <b> at least {{ matchLength }} emojis</b>. Swiping on a mobile device works great, too!
  </p>
  <p>How high can you score?!</p>
  <p>
    <button mat-raised-button color="accent" routerLink="game">Play the Game!</button>
  </p>
  <p class="audio-mention">
    Game sound effects provided by<br />
    <a href="https://mixkit.co" target="_blank">
      <img src="assets/mixkit-logo.png" class="mixkit-logo" alt="Mixkit Logo" />
    </a>
  </p>
</div>
