<div class="content">
  <h2>Welcome to Emoji Swap!</h2>
  <p>
    This is a game that is very similar to other tile matching games like
    Bejeweled and Candy Crash.
  </p>
  <p>
    To play: "flick" your mouse up, down, right or left to attempt to
    <b>match at least 3 matching emojis</b>. Swiping on a mobile device works
    great, too!
  </p>
  <p>How high can you score?!</p>
  <p>
    <button mat-raised-button color="primary" routerLink="game">
      Play the Game!
    </button>
  </p>
</div>
