.content {
  margin: auto;
  height: 100%;
  max-width: 30em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .instructions {
    max-width: 20em;
    margin: auto;
  }

  .audio-mention {
    margin-top: 3em;
    .mixkit-logo {
      height: 6em;
    }
  }
}
