<div class="content">
  <div>
    <h2>Welcome to {{ appTitle }}!</h2>
    <h3>To play:</h3>
    <p class="instructions">
      Swap tiles up, down, right or left to match
      <b> at least {{ matchLength }} tiles</b> on the grid.
    </p>
    <br />
    <p>How high can you score?</p>
    <p>
      <button mat-raised-button color="accent" routerLink="game">Play the Game!</button>
    </p>
  </div>
  <div class="audio-mention">
    <p>Game sound effects provided by:</p>
    <a href="https://mixkit.co" target="_blank">
      <img src="assets/mixkit-logo.png" class="mixkit-logo" alt="Mixkit Logo" />
    </a>
  </div>
</div>
