.content {
  font-size: larger;
  margin: auto;
  height: 100%;
  max-width: 30em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .griddin-icon {
    width: 10em;
    height: 10em;
    margin: auto;
    background-image: url("src/assets/Griddin-icon-01.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .instructions {
    max-width: 20em;
    margin: auto;
  }

  .play-cta {
    font-size: larger;
    font-weight: bold;
    width: 40%;
  }

  .audio-mention {
    margin-top: 3em;
    .mixkit-logo {
      height: 6em;
    }
  }
}
