<div class="splash-content">
  <div class="splash-items">
    <div
      class="splash-item"
      *ngFor="let item of splashItems"
      [class.splash-item__time-bonus]="item.splashType === splashType.TimeBonus"
      [class.splash-item__super-time-bonus]="item.splashType === splashType.SuperTimeBonus"
      [class.splash-item__match-length-bonus]="item.splashType === splashType.MatchLengthBonus"
      [class.splash-item__cascade]="item.splashType === splashType.CascadeBonus"
      [class.splash-item__hint]="item.splashType === splashType.HintLoss"
      [class.splash-item__no-more-matches]="item.splashType === splashType.NoMoreMoves"
      [class.splash-item__level-complete]="item.splashType === splashType.LevelComplete"
    >
      <div [ngSwitch]="item.splashType">
        <span *ngSwitchCase="splashType.TimeBonus">Fast match!</span>
        <span *ngSwitchCase="splashType.SuperTimeBonus">Super fast match!</span>
        <span *ngSwitchCase="splashType.MatchLengthBonus">Long Match Series!</span>
        <span *ngSwitchCase="splashType.CascadeBonus">Cascading matches!</span>
        <span *ngSwitchCase="splashType.HintLoss">Hint taken!</span>
        <span *ngSwitchCase="splashType.NoMoreMoves">No moves;<br />Reshuffling!</span
        ><span *ngSwitchCase="splashType.LevelComplete">Level Complete!</span>
      </div>
      <div *ngIf="item?.scoreValue">
        <span *ngIf="item.splashType === splashType.HintLoss; else negativeScore">-</span>
        <ng-template #negativeScore>+</ng-template>
        <span *ngIf="item.scoreValue">{{ item?.scoreValue }}</span>
      </div>
    </div>
  </div>
</div>
