<div class="splash-content">
  <div class="splash-items">
    <div
      class="splash-item"
      *ngFor="let item of splashItems"
      [class.splash-item__time-bonus]="item.scoreType === scoreType.TimeBonus"
      [class.splash-item__super-time-bonus]="
        item.scoreType === scoreType.SuperTimeBonus
      "
      [class.splash-item__match-length-bonus]="
        item.scoreType === scoreType.MatchLengthBonus
      "
      [class.cascade__splash]="item.scoreType === scoreType.CascadeBonus"
      [class.hint__splash]="item.scoreType === scoreType.HintLoss"
    >
      <div [ngSwitch]="item.scoreType">
        <span *ngSwitchCase="scoreType.TimeBonus">Fast match!</span>
        <span *ngSwitchCase="scoreType.SuperTimeBonus">Super fast match!</span>
        <span *ngSwitchCase="scoreType.MatchLengthBonus"
          >Long Match Series!</span
        >
        <span *ngSwitchCase="scoreType.CascadeBonus">Cascading matches!</span>
        <span *ngSwitchCase="scoreType.HintLoss">Hint taken!</span>
      </div>
      <br />
      <span *ngIf="item.scoreType === scoreType.HintLoss; else negativeScore"
        >-</span
      >
      <ng-template #negativeScore>+</ng-template>
      <span>{{ item.scoreValue }}</span>
    </div>
  </div>
</div>
