@import "~@angular/material/theming";

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink);
$theme: mat-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
  )
);

.splash-content {
  overflow: hidden;
  position: relative;
  height: 100%;

  .splash-items {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .splash-item {
      opacity: 0;
      padding: 1em;
      font-weight: bold;
      background-color: mat-color($primary);
      box-shadow: 0 0 0.5em 1em mat-color($accent);
      color: #ffffff;
      border-radius: 0.5em;
      text-align: center;
      line-height: 1em;
      overflow-wrap: break-word;
      &__time-bonus {
        animation: base-effect 4s;
      }
      &__super-time-bonus {
        animation: base-effect 4s, wobble 1s alternate;
      }
      &__match-length-bonus {
        animation: base-effect 4s;
      }
      &__no-more-matches {
        animation: base-effect 4s;
      }
      &__hint {
        background-color: #0d47a1;
        box-shadow: 0 0 0.5em 1em #82b1ff;
        animation: base-effect 4s;
      }
      &__cascade {
        background-image: radial-gradient(mat-color($accent), mat-color($primary));
        box-shadow: 0 0 0.5em 1em mat-color($primary);
        animation: base-effect 4s;
      }
      &__level-complete {
        background-color: #ffffff;
        color: mat-color($primary);
        animation: base-effect 4s 500ms, in-from-top 4s, rainbow-cycle 0.5s infinite;
      }
    }
  }
}

@keyframes base-effect {
  0% {
    opacity: 0;
    font-size: 0;
  }
  50% {
    opacity: 0.8;
    font-size: 300%;
  }
  100% {
    opacity: 0;
    font-size: 400%;
  }
}

@keyframes wobble {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(45deg);
  }
}

@keyframes in-from-top {
  0% {
    margin-top: -30em;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes rainbow-cycle {
  0% {
    box-shadow: 0 0 0.5em 1em red;
    background-color: red;
  }
  20% {
    box-shadow: 0 0 0.5em 1em orange;
    background-color: orange;
  }
  40% {
    box-shadow: 0 0 0.5em 1em yellow;
    background-color: yellow;
  }
  60% {
    box-shadow: 0 0 0.5em 1em green;
    background-color: green;
  }
  80% {
    box-shadow: 0 0 0.5em 1em blue;
    background-color: blue;
  }
  100% {
    box-shadow: 0 0 0.5em 1em indigo;
    background-color: indigo;
  }
}
