@import "~@angular/material/theming";

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink);
$theme: mat-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
  )
);

.splash-content {
  position: relative;
  height: 100%;

  .splash-items {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .splash-item {
      opacity: 0;
      padding: 1em;
      font-weight: bold;
      background-color: mat-color($primary);
      box-shadow: 0 0 0.5em 1em mat-color($accent);
      color: #ffffff;
      border-radius: 1em;
      white-space: nowrap;
      text-align: center;
      letter-spacing: 0.1em;
      &__time-bonus {
        animation: base-effect 4s;
      }
      &__super-time-bonus {
        animation: base-effect 4s, wobble 1s alternate;
      }
      &__match-length-bonus {
        animation: base-effect 4s;
      }
    }
    .hint__splash {
      background-color: #0d47a1;
      box-shadow: 0 0 0.1em 0.5em #82b1ff;
      animation: base-effect 4s;
    }
  }
}

@keyframes base-effect {
  0% {
    opacity: 0;
    font-size: 0;
  }
  50% {
    opacity: 0.8;
    font-size: 300%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes wobble {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(45deg);
  }
}
