@use "../../../../style-values";

#game-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .controls {
    margin: 0 0.5em 0.5em 0.5em;
    display: flex;
    justify-content: space-between;

    .game-stats {
      display: flex;
      align-items: center;
      .stat {
        margin-right: 1em;
        font-size: larger;
        .level-value {
          font-weight: bold;
        }
        .score-value {
          font-weight: bold;
          font-size: x-large;
        }
      }
    }
  }

  .game-board-content {
    flex: auto 1;
    justify-self: center;
    position: relative;
  }

  .game-splash-container {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
