<div class="game-container">
  <div class="game-header">
    <h2>Level: {{ level }}</h2>
    <h2>Score: {{ score | number: "1.0":"en-US" }}</h2>
    <div class="game-controls">
      <button
        mat-raised-button
        color="accent"
        [disabled]="gameBoard.boardDisabled"
        (click)="gameBoard.Hint()"
      >
        Hint
      </button>
      <button
        mat-raised-button
        color="accent"
        [disabled]="gameBoard.boardDisabled"
        (click)="gameBoard.StartLevel()"
      >
        New Game
      </button>
    </div>
  </div>
  <app-game-board
    (scoreUpdated)="updateScore($event)"
    (levelUpdated)="updateLevel($event)"
    #gameBoard
  ></app-game-board>
</div>
