<div class="site-container">
  <header>
    <mat-toolbar color="primary">
      <a routerLink="" class="home-link"
        >😺
        <h1>Emoji Swap!</h1></a
      >
      <span class="spacer"></span>
      <a
        href="https://github.com/daveteply/emoji-swap"
        matTooltip="Check out the code on GitHub!"
        matTooltipPosition="left"
        target="_blank"
      >
        <img src="assets/GitHub-Mark-32px.png" alt="image of GitHub-Mark" />
      </a>
    </mat-toolbar>
  </header>
  <main class="game-content">
    <router-outlet></router-outlet>
  </main>
  <footer>
    <p class="footer-content">
      Swipe the game tiles up, down, right or left to form matches of 3 or more!
    </p>
  </footer>
</div>
