@import "../style-values";

#app-container {
  height: 100%;
  display: grid;
  grid-template-rows: 4.5em auto 7em;

  @media screen and (min-width: $default-app-width) {
    margin: auto;
    max-width: $default-app-width;
  }

  header {
    .home-link {
      background: none;
      border: none;
      color: inherit;
      display: flex;
      align-items: baseline;
      .icon {
        font-size: x-large;
      }
    }
    .spacer {
      flex: 1 1 auto;
    }
  }

  footer {
    margin: 1em;
    border-radius: 1em;
    max-width: 600px;
    background-color: lightgray;
    .footer-content {
      text-align: center;
      padding: 1em;
    }
  }
}

.mat-toolbar {
  height: 56px;
}
