<div id="app-container">
  <header>
    <mat-toolbar color="primary">
      <button (click)="navHome()" class="home-link">
        <span class="icon">{{ appIcon }}</span>
        <h1>{{ appTitle }}</h1>
      </button>
      <button *ngIf="isWeb" (click)="ToggleAudio()" mat-icon-button aria-label="Sound On">
        <mat-icon *ngIf="soundEnabled; else soundDisabled">volume_up</mat-icon>
        <ng-template #soundDisabled>
          <mat-icon>volume_off</mat-icon>
        </ng-template>
      </button>

      <span class="spacer"></span>

      <a
        *ngIf="isWeb"
        href="https://github.com/daveteply/emoji-swap"
        matTooltip="Check out the code on GitHub!"
        matTooltipPosition="left"
        target="_blank"
      >
        <img src="assets/GitHub-Mark-32px.png" alt="image of GitHub-Mark" />
      </a>
    </mat-toolbar>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <p class="footer-content">Use the <b>Hint button</b> if you're stuck. Watch out--it'll cost you points!</p>
  </footer>
</div>
