@import "/src/include-media";

.site-container {
  display: grid;
  grid-template-rows: 5em auto 1fr;
  height: 100vh;

  header {
    .spacer {
      flex: 1 1 auto;
    }
  }

  .game-content {
    justify-self: center;
  }

  footer {
    background-color: lightgray;
    .footer-content {
      text-align: center;
      padding: 1em;
    }
  }

  // @include media("<tablet") {
  // color: red;
  // }
}
