@use "@angular/material" as mat;

$rcl-typography: mat.m2-define-typography-config(
  $font-family: "Orbitron",
);

@include mat.core();
@include mat.all-component-typographies($rcl-typography);

@font-face {
  font-family: "Orbitron";
  src: url("./assets/fonts/Orbitron-Bold.woff2") format("woff2"),
    url("./assets/fonts/Orbitron-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/material-icons.woff2) format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
