@use "../../../../style-values";

#game-board {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 1.5em;

  .grid-rows {
    display: grid;
    grid-template-rows: repeat(style-values.$grid-row-count, 1fr);

    .grid-row {
      display: grid;
      grid-template-columns: repeat(style-values.$grid-column-count, 1fr);
      place-items: center;
    }
  }

  .main-progress {
    padding: 0.5em;
    .mat-progress-bar {
      height: 1em;
    }
  }
}
